@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-4">
    @*Card menu item that allows users to be transferred to the Submit view*@
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Submit New Claim</h5>
            <a asp-controller="Home" asp-action="Submit" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>
