@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Register a New Account</h5>
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Login to an Existing Account</h5>
                <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </div>
</div>

